<%# <h1>MY FIRST ASK PAGE YO 🚀</h1> %>
<form action="/answer" method="get" class="form">>
<label for="ask">Ask your couch anything: </label> <br>
<input type="text" name="input" value="" id ="ask">
<input type="submit" value="Ask!">
</form>